:root {
  --title-text-color: #212121;
  --main-text-color: #757575;
  --accent-color: #2196f3;
  --white: #ffffff;
}
body {
  font-family: Roboto, sans-serif;
}
li {
  list-style-type: none;
}
.logo {
  text-decoration: none;
  color: var(--title-text-color);
}
.hd-nav {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--title-text-color);
}
.link-nav {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--main-text-color);
}
.hd-nav:hover,
.link-nav:hover,
.hd-nav:active,
.link-nav:active,
.hd-nav:focus,
.link-nav:focus {
  color: var(--accent-color);
}
.title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white);
}
.heading {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.7;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--title-text-color);
}

.wr-tt {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white);
}
.tm-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.tm-position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}
.web-st {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}
.Web-bl {
  color: var(--accent-color);
}
.main-heading {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--title-text-color);
}
.main-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.72;
  letter-spacing: 0.03em;

  color: var(--main-text-color);
}

.dwl-bt {
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  color: var(--white);
}

/* Portfolio */

.btn-nav {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  background: #f5f4fa;
  border-radius: 4px;
}

.btn-nav:hover,
.btn-nav:active,
.btn-nav:focus {
  cursor: pointer;
  color: var(--white);
  background-color: var(--accent-color);
}
.none-decor {
  text-decoration: none;
}
.jb-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}

.jd-variety {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.jb-descrition {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--white);
  background-color: var(--accent-color);
}
.white {
  color: var(--white);
}
.opacity {
  opacity: 0.6;
}
.ftr-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--white);
  text-decoration: none;
}

.ftr-link:hover,
.ftr-link:active,
.ftr-link:focus {
  color: var(--accent-color);
}
footer {
  background: #2f303a;
}
